.main  {
    padding-left: 252px;
    padding-right: 14px;
}
.Style {
    background-color: #5184b0;
    border-left: 3px solid black;
}
.dashboard {
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
    margin-top: 10px;
}
.AdminOnline {
    padding-left: 252px!important;
}

input[type=search]:not(.browser-default) {
    width: 75%;
}
.onlineStyle {
    margin-right: .25rem;
}
.redErrorAlert {
    font-style: italic;
    color: red;
    font-size: 11px;
}
.rowStyle {
    /*border-radius: .25rem;*/
    padding: 15px 15px 15px 15px!important;
    background-color: #fff;
}

table.dataTable thead th {
 border-bottom: 2px solid #d0d0d0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
 border-radius: 2px;
 transition: all .3s ease-out;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
 box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
 box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),0 1px 7px 0 rgba(0,0,0,0.12),0 3px 1px -1px rgba(0,0,0,0.2);
 background-color: #2bbbad;
}
.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
}
.AMSFooter {
    position: fixed;
    bottom: 32px;
    margin-left: 10px;
}
html {
    font-size: 13px!important;
}
.side-nav li>a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 13px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}
.mrgnTop {
    padding-top: 1px!important;
    padding-bottom: 4px!important;
}
.fstmrgnTop {
    padding-bottom: 19px!important;
}
.vldtMargin {
    margin: 0 0 0 0!important;
}
.sideNavColor {
    background: linear-gradient(#76acda, #305f89);
}
.adminBgStyle {
    margin: 2px 2px 2px 0px;
}
.confirmBtnColor {
    background-color: #5184b0;
}